#Turn Rewrite Engine on
RewriteEngine on
RewriteRule ^home index.php [NC,L]
RewriteRule ^aboutus about.php [NC,L]
RewriteRule ^academics acade.php [NC,L]
RewriteRule ^certificate adimy.php [NC,L]
RewriteRule ^students stud.php [NC,L]
RewriteRule ^researches res.php [NC,L]
RewriteRule ^webconf web.php [NC,L]
RewriteRule ^media mynews.php [NC,L]
RewriteRule ^programmes prog.php [NC,L]
RewriteRule ^cpd cpd.php [NC,L]
RewriteRule ^it ict.php [NC,L]








